  h1 {
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 100%;
    background-color: red;
    text-align: center;
  }
  
  .body-section {
    display: flex;
  }
  
  .sidebar {
    width: 30%;
    background-color: yellow;
    text-align: center;
  }
  
  .sidebar-2 {
    width: 30%;
    background-color: hotpink;
  }
  
  .main-body {
    background-color: rgb(0, 195, 255);
    padding: 20px;
    font-weight: bold;
  }
  
  .footer {
    width: 100%;
    background-color: rgb(107, 193, 107);
    text-align: center;
  }
  
  
  