.display{
    width: 600px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid gray;
}
.title{
    color: red;
    font-weight: bolder;
    font-size: 30px;
    display: inline;
    padding: 10px;
}
.study{
    display: flex;
    justify-content: space-between;  
    padding-right: 10px; 
}
.study li{
    width: 100px;
    opacity: 0.5;
    display: inline-block;
    text-align: right;
}
.container{
    border-top: 1px solid gray;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.content1{
    width: 60%;
    box-sizing: border-box;
    margin: 10px;
}
.content1 img{
    width: 100%;
}
.content1 .title{
    font-size: 25px;
    padding: 0px;
}
.container2{
    width: 40%;
    box-sizing: border-box;
}
.content2{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
.content2 img{
    width: 100%;
}
.content2 .title{
    font-size: 15px;
    padding: 0px;
}


