*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    padding: 0px, 20px;
    justify-content: space-between;
    background-color: rgb(38, 152, 178);
    align-items: center;
}
header .logo{
    width: 30%;
    text-transform: uppercase;
    padding-left: 10px;
    color: white;
}
header ul.menu{
    display: flex;
    list-style: none;
}
header ul.menu>li{
    padding: 12px 20px;
    border-right: 1px solid #fff;
    position: relative;
}
header ul.menu>li>a:hover{
    color: red;
}
header ul.menu>li:last-child{
    border: none;
}
header ul.menu>li>ul{
    position: absolute;
    background-color: rgb(159, 206, 206);
    list-style: none;
    top:42px;
    width: 170px;
    display: none;
}
header ul.menu>li:hover>ul{
    display: block;
}
header ul.menu>li>ul>li:hover{
    background-color: grey;
}
header ul.menu>li>ul>li{
    padding: 10px;
    border-bottom: 1px solid #fff;
}
