*{
    box-sizing: border-box;
}
#wrapper{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background-color: greenyellow;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#main-content{
    display: flex;
}
#content{
    flex-basis: 70%;
    min-height: 500px;
    background: blue;
}
#sidebar{
    flex-basis: 30%;
    background: yellow;
}
#footer{
    background: gray;
    color: #fff;
    padding: 15px;
}